<div class="sidebar-module">
  <a href="http://www.last.fm/user/<%= Setting['home_page.apis.providers.lastfm.user_name'] %>/tracks">
    <img src="<%= 
      "http://imagegen.last.fm/#{Setting['home_page.apis.providers.lastfm.charts.types.recent_tracks.design']}/" +
      "recenttracks/#{Setting['home_page.apis.providers.lastfm.charts.types.recent_tracks.tracks_count']}/" +
      "#{Setting['home_page.apis.providers.lastfm.user_name']}.gif"
    %>" border="0" />
  </a> 
</div>